@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
.socialLinks{
    font-size: 20px;
    font-weight: 600;
}
.logoimage{
    max-width: 320px !important;
}
.contactDetails > .flex > a ,.navLink{
    /* font-size: 20px; */
    font-weight: 600;
}
.heroImage{
    width: 550px;
    filter: opacity(.5);
    /* transform: scale(1.2); */
    transition: all ease-in-out .5s;
    /* z-index: -1000000 !important; */
}
.heroSection-img{
    /* position: fixed; */
    z-index: -10 !important;
}
.heroName::selection{
    background-color: red;
}
