@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

h1{
  font-size: 50px !important;
}

.socialLinks{
    font-size: 20px;
    font-weight: 600;
  }
  .socialLinks > i{
    transition: all ease .3s;
}
.socialLinks > i:hover{
  transform: scale(1.3);
}
.logoimage{
    max-width: 320px !important;
}
.contactDetails > .flex > a ,.navLink{
    font-weight: 600;
}
.heroImage{
    width: 550px;
    filter: opacity(.5);
    /* transform: scale(1.2); */
    transition: all ease-in-out .5s;
    /* z-index: -1000000 !important; */
}
.heroSection-img{
    /* position: fixed; */
    /* z-index: -10 !important; */
}
.heroName::selection{
    background-color: red;
}
.heroSection-img > .heroImage{
  transition: all ease .3s;
}
.heroSection-img:hover > .heroImage{
  filter: opacity(.8);
}

/* PDF viewer start */

.download {
    padding: 1.25rem;
    border: 0;
    border-radius: 3px;
    background-color: #4f46e5;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
  .download:hover {
    color: #fff;
  }
  #carbonads {
    display: block;
    overflow: hidden;
    max-width: 728px;
    position: relative;
    font-size: 22px;
    box-sizing: content-box;
  }
  #carbonads > span {
    display: block;
  }
  #carbonads a {
    color: #4f46e5;
    text-decoration: none;
  }
  #carbonads a:hover {
    color: #4f46e5;
  }
  .carbon-wrap {
    display: flex;
    align-items: center;
  }
  .carbon-img {
    display: block;
    margin: 0;
    line-height: 1;
  }
  .carbon-img img {
    display: block;
    height: 90px;
    width: auto;
  }
  .carbon-text {
    display: block;
    padding: 0 1em;
    line-height: 1.35;
    text-align: left;
  }
  .carbon-poweredby {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 6px 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 8px;
    border-top-left-radius: 4px;
    line-height: 1;
    color: #aaa !important;
  }
  @media only screen and (min-width: 320px) and (max-width: 759px) {
    .carbon-text {
      font-size: 14px;
    }
  }

  .banner-container{
    height: 50vh;
    position: relative;
  }
  .banner-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  .about_banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .toggle{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  .card{
    border: 1px solid #fff;
    border-radius: 15px;
  }
  .html1{
    color: #ff5733;
  }
  .css1{
    color: #264de4;
  }
  .js1{
    color: #f0db4f;
  }
  .react1{
    color: #00d8ff;
  }
  .card-container > .logo-container > .skillsIcon > i{
    /* color: #ff5733; */
    font-size: 90px;
    transition: all .3s ease;
  }
  .card-container:hover > .logo-container > .skillsIcon > i{
    transform: scale(1.3);

  }
  .img-circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #868686;
    transition: all ease-in-out .4s;
  }

  .img-circle:hover{
    filter: drop-shadow(2px 2px 15px #fff);
  }
  .heroImage-resume{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: contain;

  }
  .dev-text{
    font-size: 40px !important;
    font-weight: 500;
  }
/* PDF viewer End */